In [1]:
import pandas as pd

df = pd.read_excel('chiikawa_data.xlsx')
display(df)

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [2]:
pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [19]:
import pandas as pd

df = pd.read_excel('chiikawa_data.xlsx')
dfa = df.iloc[[3,4],[0,2]]
display(df)
display(dfa)

   Name  Score  Avg
0    ちい     10    8
1  はちわれ     11    9
2   うさぎ     13    8
3  シーサー      9   13
4    かに      7   11

   Name  Avg
3  シーサー   13
4    かに   11

In [20]:
df[df['Score']>=10]

   Name  Score  Avg
0    ちい     10    8
1  はちわれ     11    9
2   うさぎ     13    8

In [23]:
df[(df['Score']>=10) & (df['Avg']>=9)]

   Name  Score  Avg
1  はちわれ     11    9

In [24]:
display(df)

   Name  Score  Avg
0    ちい     10    8
1  はちわれ     11    9
2   うさぎ     13    8
3  シーサー      9   13
4    かに      7   11