In [1]:
pip install openpyxl

Requirement already satisfied: openpyxl in /Users/moriwakikouta/miniconda3/lib/python3.10/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /Users/moriwakikouta/miniconda3/lib/python3.10/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

df = pd.read_excel('chiikawa_data.xlsx')
print(df)

   Name  Score  Avg  Level  Point
0    ちい     10    8      6   3022
1  はちわれ     11    9      7   1111
2   うさぎ     13    8      3    211
3  シーサー      9   13      5   1333
4    かに      7   11      7   2221

In [6]:
df.max(numeric_only=True)

Score      13
Avg        13
Level       7
Point    3022
dtype: int64

In [7]:
df['Level']*df['Point']

0    18132
1     7777
2      633
3     6665
4    15547
dtype: int64

In [14]:
df['NAME'] = df['Name']+'さん'

In [15]:
df.max(numeric_only=True)

Score      13
Avg        13
Level       7
Point    3022
dtype: int64

In [19]:
df['NewPoint']=df['Level']*df['Point']

In [20]:
df['NAME'] = df['Name']+'さん'

In [21]:
print(df)

   Name  Score  Avg  Level  Point Name（敬称）    NAME  NewPoint
0    ちい     10    8      6   3022     ちいさん    ちいさん     18132
1  はちわれ     11    9      7   1111   はちわれさん  はちわれさん      7777
2   うさぎ     13    8      3    211    うさぎさん   うさぎさん       633
3  シーサー      9   13      5   1333   シーサーさん  シーサーさん      6665
4    かに      7   11      7   2221     かにさん    かにさん     15547